@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
:root {
  font-size: 14px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
p {
  margin-block: 1rem;
}

p {
  color: #cccccc;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, left bottom, from(#202a3c), to(#1c2431));
  background: linear-gradient(to bottom, #202a3c, #1c2431);
}

body::-webkit-scrollbar-thumb {
  background-color: #339ecc;
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid #65e2d9;
  /* creates padding around scroll thumb */
}

body {
  line-height: 1.4;
  background-color: #181f2a;
  color: white;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

header {
  background: url("images/bg-curvy-desktop.svg") #1c2431;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
}

header .intro {
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: min(90%, 40rem);
  margin: auto;
}

header .intro .intro-image {
  display: block;
  margin: auto;
  max-width: 100%;
}

header .intro h1 {
  font-size: 2rem;
  margin-block: 1em;
  line-height: 1.5;
}

header .intro p {
  width: 90%;
  margin: auto;
  margin-block: 1em;
}

header .intro .header-btn {
  background-image: -webkit-gradient(linear, right top, left top, from(#339ecc), color-stop(80%), to(#65e2d9));
  background-image: linear-gradient(to left, #339ecc, 80%, #65e2d9);
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  padding: 1rem 5rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

header .intro .header-btn:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#85c5e0), color-stop(80%), to(#baf2ee));
  background-image: linear-gradient(to left, #85c5e0, 80%, #baf2ee);
}

nav {
  width: 90%;
  margin: auto;
  padding-block: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

nav .logo-container {
  width: 150px;
}

nav .logo-container .logo {
  max-width: 100%;
  display: block;
}

nav .nav-links {
  color: gray;
  width: min(55%, 200px);
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-links .nav-items a {
  color: #cccccc;
  text-decoration: none;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

nav .nav-links .nav-items a:hover {
  color: white;
  text-decoration: underline;
}

main {
  padding-block: 10rem 15rem;
}

main > section {
  margin: auto;
}

main .four-icon-container {
  margin-bottom: 5rem;
  width: min(90%, 60rem);
  text-align: center;
  gap: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-items: end;
}

main .stay-productive-container {
  margin-block: 5rem;
  width: min(90%, 80rem);
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .stay-productive-container .stay-productive-illustration {
  display: block;
  max-width: 100%;
}

main .stay-productive-container h2 {
  font-size: 2.5rem;
}

main .stay-productive-container h2 span {
  display: block;
}

main .stay-productive-container .how-fylo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  color: #65e2d9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

main .stay-productive-container .how-fylo svg .colorized {
  fill: #62e0d9;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

main .stay-productive-container .how-fylo:hover {
  color: white;
}

main .stay-productive-container .how-fylo:hover svg .colorized {
  fill: white;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

main .stay-productive-container .how-fylo::after {
  content: "";
  background-color: #65e2d9;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -15%;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

main .stay-productive-container .how-fylo:hover::after {
  background-color: white;
}

main .testimonials {
  display: -ms-grid;
  display: grid;
  width: min(80%, 80rem);
  gap: 2rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

main .testimonials > article:nth-child(1) {
  position: relative;
}

main .testimonials > article:nth-child(1):nth-child(1)::before {
  content: url("images/bg-quotes.png");
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
  width: 100%;
  z-index: -1;
}

main .testimonials > article {
  padding: 2rem;
  border-radius: 5px;
  background-color: #202a3c;
}

main .testimonials > article p {
  margin-top: 0;
}

main .testimonials > article .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

main .testimonials > article .author .author-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

main .testimonials > article .author .name {
  color: white;
  font-size: 13px;
}

main .testimonials > article .author .role {
  display: block;
  font-size: 12px;
  color: #cccccc;
}

footer {
  padding-block: 10rem 2rem;
  background-color: #0b1523;
  position: relative;
}

footer .footer-form {
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 5px 0px #0a0a0a;
          box-shadow: 4px 4px 5px 0px #0a0a0a;
  padding: 2rem 1rem;
  background-color: #1c2431;
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  width: min(50rem, 90%);
}

footer .footer-form h2 {
  font-size: 2rem;
}

footer .footer-form p {
  width: 80%;
  margin: auto;
  margin-block: 1rem 3rem;
}

footer .footer-form form {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: auto;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-form form .form-control {
  position: relative;
}

footer .footer-form form .form-control .email-input {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  border: none;
}

footer .footer-form form .form-control .email-input.error {
  -webkit-box-shadow: 0px 0px 2px 2px #ff4242;
          box-shadow: 0px 0px 2px 2px #ff4242;
}

footer .footer-form form .form-control .email-input.success {
  -webkit-box-shadow: 0px 0px 2px 2px greenyellow;
          box-shadow: 0px 0px 2px 2px greenyellow;
}

footer .footer-form form .form-control .message {
  font-size: 0.8rem;
  position: absolute;
  color: #ff4242;
  bottom: 0;
  left: 10%;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
}

footer .footer-form form .form-btn {
  background-image: -webkit-gradient(linear, right top, left top, from(#339ecc), color-stop(80%), to(#65e2d9));
  background-image: linear-gradient(to left, #339ecc, 80%, #65e2d9);
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  padding: 1rem 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

footer .footer-form form .form-btn:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#85c5e0), color-stop(80%), to(#baf2ee));
  background-image: linear-gradient(to left, #85c5e0, 80%, #baf2ee);
}

footer .wrapper {
  width: 90%;
  padding-left: 1rem;
  margin: auto;
}

footer .wrapper .logo-container-footer {
  margin-bottom: 3rem;
  width: 100px;
}

footer .wrapper .logo-container-footer .logo-footer {
  max-width: 100%;
  display: block;
}

footer .wrapper .footer-info {
  display: -ms-grid;
  display: grid;
  color: #cccccc;
  gap: 1rem;
  -ms-grid-columns: 2fr 1.3fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1.3fr 1fr 1fr 1fr;
}

footer .wrapper .footer-info .span-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

footer .wrapper .footer-info .top img {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .wrapper .footer-info .mid {
  margin-bottom: 1rem;
}

footer .wrapper .footer-info .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

footer .wrapper .footer-info .footer-links li a {
  text-decoration: none;
  color: #cccccc;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

footer .wrapper .footer-info .footer-links li a:hover {
  color: white;
}

footer .wrapper .footer-info .socials {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

ion-icon {
  font-size: 20px;
}

ion-icon:hover {
  color: #65e2d9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #8d8d91;
}

@media (max-width: 800px) {
  main .testimonials {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: min(35rem, 80%);
  }
}

@media (max-width: 600px) {
  main {
    padding-block: 10rem 25rem;
  }
  main .stay-productive-container {
    margin-block: 10rem;
  }
  main .stay-productive-container,
  main .four-icon-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  nav .logo-container {
    width: 100px;
  }
  footer .footer-form form .form-control .message {
    position: static;
  }
  footer {
    padding-block: 15rem 2rem;
  }
  footer .wrapper .logo-container-footer {
    width: 150px;
  }
  #footer-links-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  footer .footer-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-form form > * {
    width: 90%;
  }
  .socials {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */